<div style="width: 100%">
  <div class="ml-5 mb-5 mt-2">
    <button
      type="button"
      class="shape mr-4"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      Report Cheating
    </button>
    <button
      type="button"
      class="shape"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      Report Toxicity
    </button>
  </div>
  <div class="ml-2 mr-2 mt-4 size1">
    <h3 class="rules">Rules</h3>
    <ol>
      <li>
        Please be respectful to your host and other participants. If any
        malicious behavior is reported,yow will be removed from the tournament.
      </li>
      <li>
        Please be on time for your registration and for the actual tournament.
        You(and your team) will be disqualified on no-show.
      </li>
      <li>
        You and all of your teammates must be registered to qualify for the
        event.
      </li>
      <li>
        You can play in this tournament only if your registered and in-game
        names match,otherwise you will be disqualified.
      </li>
    </ol>
    <h3 class="rules ht-margin">Prize Distribution</h3>
    <ol>
      <li>
        Please be respectful to your host and other participants. If any
        malicious behavior is reported,yow will be removed from the tournament.
      </li>
      <li>
        Please be on time for your registration and for the actual tournament.
        You(and your team) will be disqualified on no-show.
      </li>
      <li>
        You and all of your teammates must be registered to qualify for the
        event.
      </li>
      <li>
        You can play in this tournament only if your registered and in-game
        names match,otherwise you will be disqualified.
      </li>
    </ol>
    <h3 class="rules ht-section">Terms and conditions</h3>
    <ul class="one">
      <li class="marg3">
        The Gold Rank in the level 1 in our ranking system and will give you
        access to more significant tournaments, events and giveaways but also it
        will allow you to promote your social media on our 700+ members discord
        server.
      </li>
      <li class="marg3">
        The Gold Rank in the level 1 in our ranking system and will give you
        access to more significant tournaments, events and giveaways but also it
        will allow you to promote your social media on our 700+ members discord
        server.
      </li>
      <li class="marg3">
        The Gold Rank in the level 1 in our ranking system and will give you
        access to more significant tournaments, events and giveaways but also it
        will allow you to promote your social media on our 700+ members discord
        server.
      </li>
    </ul>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  style="padding-right: 0px"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content bg-one">
      <div class="modal-header">
        <button
          type="button"
          class="close close-btn"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span
            style="color: #170d2a; font-size: 50px; margin: 0px 0px 8px"
            aria-hidden="true"
            >&times;</span
          >
        </button>
      </div>
      <div class="modal-body pb-4 pr-4 pl-4">
        <br />
        <form>
          <div class="row mt-4">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-form-label">Name</label>
                <input
                  type="text"
                  class="form-control bg-2"
                  placeholder="Name"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-form-label">Gogame-Id</label>
                <input
                  type="text"
                  class="form-control bg-2"
                  placeholder="Gogame-Id"
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label">Message</label>
            <textarea
              class="form-control bg-2"
              id="message-text"
              placeholder="Type your message here..."
              rows="5;"
            ></textarea>
          </div>
        </form>
        <div style="text-align: center">
          <button type="button" class="btn-save btn mr-4 mt-4">
            SAVE DETAILS
          </button>
          <button type="button" class="btn-save btn mt-4" data-dismiss="modal">
            CANCEL
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
